output/

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Logs
logs/
*.log

# Abaqus files
abaqus_files/

# Results
results/

# Transcript
sem*

# VS Code
.vscode/

# Abaqus files
*.odb
*.inp
*.msg
*.dat
*.sta